html, body {
  overflow-x: hidden;
  padding: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
}

.grid-item {
  text-align: center;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
  transform: scale(0.95);
}

.tyre-image {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.60) 0px 7px 20px 0px;
}

.tyre-image:hover {
  box-shadow: rgba(0, 0, 0, 0.70) 0px 7px 7px 2px;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 550px;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 5px;
}

.slider-image {
  height: 80vh;
  width: 100vw; 
  margin-left: 0; 
  object-fit: fill;
  border-radius: 10px;
  transition: opacity 1s ease-in-out;
}

.maps iframe{
  width: 100%;
  height: 450px;
  margin-bottom: 50px;
}

.dealership-title {
  margin-bottom: 5px;
  font-size: 50px;
  text-align: center;
  color: black;
}

.dealership {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.dealership img {
  width: 150px;
  height: 100px;
  object-fit: contain;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  border-radius: 8px;
}

.dealership img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tyre-quote-container {
  background: linear-gradient(120deg, #292727, #383736, #918a87);
  box-shadow: rgba(0, 0, 0, 0.573) 0px 7px 29px 0px;
  width: 100%; /* Ensure it fits the viewport */
  height: 500px;
  margin: 0 auto 50px;
  border-radius: 15px;
}

.tyre-quote {
  position: absolute;
  margin: 35px 0 50px 20px;
  display: flex;
}

.tyre-quote img {
  margin: 5px 0 0 10px;
  border-radius: 15px;
}

.tyre-quote h1 {
  position: absolute;
  font-size: 45px;
  width: 350px;
  margin-top: 140px;
  margin-left: 1100px;
  color: black;
}

.tyre-quote h2 {
  font-size: 25px;
  margin-top: 190px;
  margin-left: 110px;
}

/* Responsive Styles */
@media (max-width: 1024px) {

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
  }
  
  .grid-item {
    text-align: center;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }

  .slider-container {
    width: 100%;
    height: 100px;
  }

  .slider-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .tyre-quote-container {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 0 50px;
    border-radius: 15px;
  }

  .tyre-quote img {
    margin: -20px 0 0 -7px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .tyre-quote h1 {
    position: absolute;
    font-size: 35px;
    width: 350px;
    margin: 140px 0 0 60px;
    color: black;
  }

  .tyre-quote h2 {
    position: absolute;
    font-size: 18px;
    margin: 180px 0 0 80px;
  }

  .dealership-title {
    margin-bottom: 5px;
    font-size: 40px;
    text-align: center;
    color: black;
  }
  
  .dealership {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px;
  }
  
  .dealership img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    border-radius: 8px;
  }

  .maps iframe{
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
  }
  
}
