.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
  }
  
  .grid-item {
    text-align: center;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .grid-item:hover {
    /* transform: scale(1.05);  ZOOM IN*/
    transform:scale(0.95); 
  }
  
  .tyre-image {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.60) 0px 7px 20px 0px;
  }
  
  .tyre-image:hover {
    box-shadow: rgba(0, 0, 0, 0.70) 0px 7px 7px 2px;
  }
  
  .slider-container {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 5px;
  }
  
  .slider-image {
    aspect-ratio: 16 / 9;
    width: 99%;
    margin-left: 8px;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 1s ease-in-out;
  }
  
  .map-container {
    margin-top: 20px;
    width: 100%;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(88, 79, 79, 0.573) 0px 7px 29px 0px;
  }
  
  .dealership-title{
    margin-bottom: 5px;
    font-size: 50px;
    text-align:center;
    color:black;
  }

  .dealership {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .dealership img {
    width: 150px; 
    height: 100px;
    object-fit: contain; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
  }
  
  .dealership img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .tyre-quote-container {
    background: linear-gradient(120deg, #0f0f0f, #383736, #88817e);
    box-shadow: rgba(0, 0, 0, 0.573) 0px 7px 29px 0px;
    width: 98%;
    height: 500px;
    margin: 0 0 50px 15px;
    border-radius: 15px;
  }
  

.tyre-quote{
  position: absolute;
  margin: 35px 0 50px 20px;
  display: flex;
}

.tyre-quote img{
  border-radius: 15px;
}

.tyre-quote h1 {
  position: absolute;
  font-size: 45px;
  width: 350px;
  margin-top: 140px;
  margin-left:1110px ;
  color: black;
}

.tyre-quote h2{
  font-size: 25px;
  margin-top: 190px;
  margin-left: 120px;
}


